@media only screen and (max-width: 989px) {

    #page {
        display: flex;
        flex-direction: column;
    }
    #page > section {
        width: 100%;
        height: 50%;
    }
    input {
        width: 250px;
    }

    .footerContainer {
        display: none;
    }

    .social{
        width: 100%;
        justify-content: space-between;
        margin: 0px 4px 0px 4px;
    }

    .left {
        display: flex;
        flex-direction: row;
        background-color: rgba(0,0,0,0.2);
        height: 30% !important;
    }
    .left > div {
        height: 100%;
        width: 100%;
    }

    .up {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .up > div {
        position: relative;
        top: 45%;
    }
    .down{
        display: none;
    }

    .right{
        display: flex;
        flex-direction: row;
        background-color: rgba(0,0,0,0.2);
        border-radius: 3px;
        height: 70% !important;
    }

    .right > div {
        text-align: center;
        width: 100%;
        height: 50%;
    }

    .temperatura {
        display: flex;
        flex-direction: column;
        overflow-y: overlay;
        height: 100% !important; 
        padding: 20px 20px 20px 20px !important;
        border-radius: 10px;
        background-color: rgba(0,0,0,0);
        padding: 10px;
        filter: drop-shadow(2px 4px 6px black);
        font-size: large;
        text-align: center;
        color: aliceblue;
        font-family: roboto;
    }

}

@media only screen and (max-width: 800px) {

    .left{
        height: 30% !important;
    }

    .right{
        height: 70% !important;
        background-color: rgba(0,0,0,0.2);
        border-radius: 3px;
    }
    .temperatura{
        font-size: medium;
        height: 85% !important;
        width: 170%!important;
        background-color: rgba(225,225,225,0.0);
    }

    footer {
        height: auto;
        font-size: small;
        width: 100%;
    }

    input{
        width: 150px;
    }
    .temperatura > div {
        margin-bottom: 3px;
    }

    .second{
        display: none;
    }

    .first {
        width: 100%;
    }

}

@media only screen and (max-width: 320px) {
    .temperatura{
        font-size: small;
    }
}

@media only screen and (max-height: 652px) {
    .temperatura {
        background-color: rgba(0,0,0,0);
    }
    
}

